body {
    background-color: antiquewhite;
    margin: 0;
}

.header {
    background-color: aliceblue;
    padding-top: 20px;
    display: flex;
    justify-content: center; /* horizontal */
    border-bottom: 1px solid black; /* should be width style color */
}

.h2-header {
    margin-top: 0;
    margin-right: 7px;
    margin-left: 7px;
}

.icon {
    color: #a9481e;
    stroke-width: 2.25px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 65px;
}

.form > input[type="text"] {
    display: flex;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: medium;
}

.form > input[type="text"]:focus {
    outline:2.5px solid skyblue;
}

.form > input[type="submit"]:focus {
    outline:2.5px solid skyblue;
}

.form > input[type="submit"] {
    display: flex;
    cursor: pointer;
    background-color: black;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 140px;
}

.h1 {
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: -10px;
    color:brown;
}

.ul {
    display: flex;
    gap: 20px;
    font-size: larger;
    flex-direction: column;
    margin-left: 520px;
}

.ul ::marker {
    color:blueviolet;
}

svg {
    display: block;
}

.div {
    padding-left: 867px;
    margin-top: -50px;
}

button {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    cursor: pointer;
    background-color: #FF1F6B;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 140px;
}

button:focus {
    outline: 2.5px solid skyblue;
}

.test {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    cursor: pointer;
    background-color: #FF1F6B;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 140px;
}

.recipe-div {
    padding-top: 15px;
    background-color: wheat;
    margin: 0 450px 20px 450px;
    width: 600px;
    height: 120px;
    border-radius: 6px;
    position: relative;
}

.recipe-div > h3 {
    margin-left: 30px;
}

.recipe-div > button {
    margin-left: 440px;
    position: absolute;
    align-self: center;
    background-color:coral;
}

.recipe-div > button:hover{
    background-color:goldenrod;
    transition-duration: 300ms;
}

.recipe-div > h5 {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: lighter;
    opacity: 0.7;
}